<!-- templates/recrutement/confirmation.html -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="#">
</head>
<body>
    <div class="container">
        <h1>Confirmation de votre candidature</h1>
        <p>Merci pour votre candidature ! Nous avons bien reçu votre demande et nous vous contacterons sous peu.</p>
        <a href="{% url 'recrutement:afficher_postes' %}" class="btn btn-primary">Retourner à la liste des postes</a>
    </div>
</body>
</html>
