{% extends "accueil/index.html" %}

{% block content %}
    <style>
        .container {
            width: 50%;
            margin: 0 auto;
            padding-top: 20px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="number"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            padding: 10px 20px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>

    <div class="container">
        <h2>Ajouter un avantage en nature</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Ajouter l'avantage</button>
        </form>
    </div>
    {% endblock %}
